// $primary-color: #4F8AFF;
// $secondary-color: #4F8AFF;
// $text-color: #ecf0f1;
// $background-color: #212121;

$primary-color: #2568FB;
$secondary-color: #FECD45;
$text-color: #ecf0f1;
$background-color: #212121;